body {background-color:orange;font-size: medium;font-family: cursive;}
ul{font-size: medium; font-family: cursive;}
ol{font-size: medium; font-family: cursive;}
.purple{color:purple}
#purple{color: purple}
